<!DOCTYPE html>
<br>



<style>
    .course_related{
        margin-left: 8%;
        max-width: 275px;
    }


    .card-title{
        margin-left: 8%;
        font-size: larger;
    }

    .img-thumbnail{
        margin-left: 8%;
        display: block;
        width: 290px;
        height: 180px;
    }

    .row-fluid{
        margin-right: 8%;
    }

    .left_part{
        float: left;
        width: 400px;
        margin-left: 8%;
        /*background-color: #005cbf;*/
    }

    .right_part{
        /*background-color: #1e7e34;*/
        margin-left: 410px;
    }

    .span12{
        margin-left: 5%;
    }

    .normal{
        margin-left: 0.8%;
        font-size: large;
    }

    .link{
        max-width: 290px;
    }

    .coding_img{
        width: 75%;
        height: 250px;
    }

    .right_content{
        margin-right: 8%;
    }
</style>
<div class="left_part">

<title>Help Avaliable</title>



<div class="course_related">
    <h3> <strong>Uni information</strong></h3>
</div>

<br></br>
<div>
<a href="/Help_Available" class="card-title">Help Avaliable</a>
</div>


<br></br>
<div>
    <a href="/Exchange_Opportunities" class="card-title">Exchange Opportunites</a>
</div>
    <br></br>
<div>
    <a href="/Academic_Integrity" class="card-title">Academic Integrity</a>
</div>
<br></br>


<br></br>

<div class="course_related">
    <h4><strong>Reference</strong></h4>
    <p> The University of Sydney. (n.d.). Academic integrity. [online] Available at: <a class="link" href="https://www.sydney.edu.au/students/academic-integrity.html [Accessed 28 Mar. 2020].">https://www.sydney.edu.au/students/academic-integrity.html [Accessed 28 Mar. 2020]. </a>, accessed 28 March 2020.</p>
</div>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>


</div>

<div class="right_part">
    	<div class="row-fluid">
		<div class="span12">
			<strong><h1>
				<em> Academic Integrity</em>
			</h1></strong><hr />

		</div>
        <div>
            <p><a href="/home" class="normal">Home </a>><a href="/Help_Available" class="normal">Uni Information </a>> Academic Integrity </p>
        </div>
	</div>
</div>
    <div class="right_content">
        <h4><strong>Academic Honesty in Coursework Policy</strong></h4>
        <p>Academic integrity is a core value of the University of Sydney, in both education and research.
By joining the University community, you have agreed to uphold this value and to proactively contribute to the University’s culture of academic integrity, by acting honestly and ethically in all your dealings and relationships with other members of the University community.
Acting with academic integrity means doing the 'right thing' even when things seem difficult and taking a shortcut to academic success seems easier.
We expect you to be familiar with the policies and codes covering academic honesty and conduct at the University.
.</p>
        <a href="https://www.sydney.edu.au/policies/showdoc.aspx?recnum=PDOC2012/254&RendNum=0">•	Academic Honesty in Coursework Policy 2015 (pdf, 174KB)</a>
        <br></br>
        <a href="https://www.sydney.edu.au/policies/showdoc.aspx?recnum=PDOC2012/255&RendNum=0">•	Academic Honesty Procedures 2016 (pdf, 208KB)</a>
        <br></br>
        <a href="https://www.sydney.edu.au/policies/showdoc.aspx?recnum=PDOC2011/215&RendNum=0">•	The Student Charter 2020 (pdf, 221KB)</a>
        <br></br>
<a href="https://www.sydney.edu.au/students/student-responsibilities.html">•	Student Responsibilities</a>
        <br></br>
<a href="http://sydney.edu.au/policies/showdoc.aspx?recnum=PDOC2017/441&RendNum=0">•	University of Sydney (Student Discipline) Rule 2016 (pdf, 163KB)</a>
        <br></br>
<a href="https://www.sydney.edu.au/policies/showdoc.aspx?recnum=PDOC2013/321&RendNum=0">•	Research Code of Conduct 2019 (pdf, 484KB) </a>for honours and research units of study)</p>

        <p>You need to follow these codes and policies during your time at the University. We do not tolerate any form of <a href="https://www.sydney.edu.au/students/academic-dishonesty.html">breach or academic dishonesty.</a></p>
        <strong><p>Academic honesty and working with other students</p></strong>
        <p>As an outbound exchange student, you remain enrolled full-time at the University of Sydney while studying abroad and continue to pay your usual tuition fees and other student fees. A student from your host institution does the same in reverse, and the result is an exchange of students and places.

There are semester and year-long exchange program options. We also offer short-term exchange (from 3 weeks long) options, running in the summer and winter breaks.

</p>
        <strong><p>Academic honesty in group work</p></strong>
        <p>An important part of your studies will involve working constructively with other students to address common learning problems and goals. It is essential that you always behave with academic honesty when you are participating in group work.
This means that you need to contribute your own original work to the group and that you properly acknowledge the work of other people in your work. If you don’t, you put everyone in a group at risk of being accused of academic dishonesty.
Acting with academic honesty in group work also means that you have to commit fully to participating in group discussions and meeting agreed deadlines. It is unfair to leave your group members feeling like they need to complete work you were supposed to complete. It is even more unfair (and dishonest) to accept marks for group work if you have let others do your work for you.
.</p>
         <strong><p>Academic honesty and legitimate cooperation</p></strong>
        <p>When you work with other students outside of the classroom and formal group work settings, it is important that you understand what we refer to as 'legitimate cooperation'.
We usually think of cooperation between students as legitimate (or appropriate) if it involves discussing general themes, ideas and concepts being taught in a unit of study. It is also legitimate to discuss assignment instructions and marking criteria. You can do this with just one of your friends or you might want to consider setting up a small study group that meets regularly.
The key thing about cooperation that is legitimate, is that it is done in a way that is open and transparent. This means that you should feel comfortable telling other people about it. If you are not willing to tell other people about it, then you are probably not cooperating in a way that is academically honest.
</p>
    </div>



</p>
</div>
</div>

</body>