<!DOCTYPE html>
<html>


<head>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="/js/jquery-3.4.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>


<html>
<img src="img/USydLogo.svg" class="img-fluid" alt="Responsive image" >
<style>
    .img-fluid {
  display: block;
  margin-left: 8%;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 323px;
  height: 112px;
}
.how-section1{
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img
{
    text-align: center;
}
.how-img img{
    width: 50%;
}

.dropdown_button{
    float: right;
    margin-right: 13%;
    margin-top: 10px;
}

</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Course Information
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/course_guide">Course Guide</a>
          <a class="dropdown-item" href="/which_major_is_right_for_you">Which major is right for you</a>
          <a class="dropdown-item" href="/Summer_and_Winter_School">Summer and Winter School</a>
        </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Uni Information
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/Help_Available">Help Avaliable</a>
              <a class="dropdown-item" href="/Exchange_Opportunities">Exchange Opportunities</a>
              <a class="dropdown-item" href="/Academic_Integrity">Academic Integrity</a>
          </div>
      </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tips and Resources
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/Study_Tips">Study Tips</a>
                <a class="dropdown-item" href="/Study_Resources">Study Resources</a>
                <a class="dropdown-item" href="/Tips_for_Internships_and_Jobs">Tips for Internships and Jobs</a>
            </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Connect
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/Messages">Messages</a>
            <a class="dropdown-item" href="/Public_Forum">Public Forum</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/login" >Logout</a>
                <a class="dropdown-item" href="/register" >Register</a>
            </div>
        </li>
    </ul>
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </div>
</nav>


</html>


