<!DOCTYPE html>
<br>


<style>
    .course_related{
        margin-left: 8%;
        max-width: 275px;
    }


    .card-title{
        margin-left: 8%;
        font-size: larger;
    }

    .img-thumbnail{
        margin-left: 8%;
        display: block;
        width: 290px;
        height: 180px;
    }

    .row-fluid{
        margin-right: 8%;
    }

    .left_part{
        float: left;
        width: 400px;
        margin-left: 8%;
        /*background-color: #005cbf;*/
    }

    .right_part{
        /*background-color: #1e7e34;*/
        margin-left: 410px;
    }

    .span12{
        margin-left: 5%;
    }

    .normal{
        margin-left: 0.8%;
        font-size: large;
    }

    .link{
        max-width: 290px;
    }

    .coding_img{
        width: 75%;
        height: 250px;
    }

    .right_content{
        margin-right: 8%;
    }
</style>

<body>
<div class="left_part">

<title>Help Avaliable</title>



<div class="course_related">
    <h3> <strong>Uni information</strong></h3>
</div>

<br></br>
<div>
<a href="/Help_Available" class="card-title">Help Avaliable</a>
</div>


<br></br>
<div>
    <a href="/Exchange_Opportunities" class="card-title">Exchange Opportunites</a>
</div>
    <br></br>
<div>
    <a href="/Academic_Integrity" class="card-title">Academic Integrity</a>
</div>
<br></br>

<img src="/img/help_available.jpeg" alt="..." class="img-thumbnail" alt="Responsive image">

<br></br>
<div class="card-title"><h4><strong>For eligibility and application information</strong></h4></div>
<div>
    <a href="https://www.sydney.edu.au/study/why-choose-sydney/study-abroad-and-student-exchange/study-overseas-with-student-exchange/eligibility-and-applying-for-student-exchange.html." class="card-title">Find out more</a>
</div>
<br></br>



<div class="course_related">
    <h4><strong>Reference</strong></h4>
    <p> The University of Sydney, “Study overseas with student exchange.” Online at <a class="link" href="https://www.sydney.edu.au/study/why-choose-sydney/study-abroad-and-student-exchange/study-overseas-with-student-exchange.html,">https://www.sydney.edu.au/study/why-choose-sydney/study-abroad-and-student-exchange/study-overseas-with-student-exchange.html, </a>, accessed 23 March 2020.</p>
</div>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

</div>

<div class="right_part">
    	<div class="row-fluid">
		<div class="span12">
			<strong><h1>
				<em>Help Available</em>
			</h1></strong><hr />

		</div>
        <div>
            <p><a href="/home" class="normal">Home </a>><a href="/Help_Available" class="normal">Uni Information </a>> Help Available </p>
        </div>
	</div>
    <div>
        <img src="img/coding.jpg" alt="..." class="coding_img" alt="Responsive image">
    </div>
</div>
    <br></br>
    <div class="right_content">
        <h4><strong>Student Exchange</strong></h4>
        <p>Student exchange is an opportunity to see the world and graduate with a global perspective. You’ll improve your communication and practical skills, build confidence and cross-cultural understanding.
</p>
        <strong><p> Disability Support </p></strong>
        <p>Disability Services helps students who have a disability to access reasonable adjustments, and provides advice to prospective students about support services.</p>
       <strong><p>What is student exchange?</p></strong>
        <p>As an outbound exchange student, you remain enrolled full-time at the University of Sydney while studying abroad and continue to pay your usual tuition fees and other student fees. A student from your host institution does the same in reverse, and the result is an exchange of students and places.

There are semester and year-long exchange program options. We also offer short-term exchange (from 3 weeks long) options, running in the summer and winter breaks.

</p>
        <strong><p>Who can go on student exchange?</p></strong>
        <p>The student exchange program is open to all current undergraduate students and some postgraduate students. Undergraduate students can apply as early as your 2nd semester, 1st year, to go on exchange, and postgraduate students can apply in their first semester of their masters degree.</p>
         <strong><p>What is study abroad?</p></strong>
        <p>Study abroad and exchange programs are two different things and vary in the way they are administered by the University of Sydney. Most University of Sydney students going overseas as part of their degree complete student exchange and pay fees here. A study abroad program involves a student enrolling at an overseas institution and paying fees to that university.

If you would like to study for a semester or year at an institution that is not currently partnered with the University of Sydney, please contact Sydney Abroad with details of the institution and/or program and your reasons for wanting to participate. A Sydney Abroad adviser will contact you to discuss your options.
.</p>
       <h4><strong>Advantanges of student exchange</strong></h4>
        <strong><p>See the world and visit a dream destination</p></strong>
        <p>The world is a big place and lucky for us (and you) we have exchange partners in nearly every corner of it. </p>
        <strong><p>Hone your language skills and immerse yourself in a new culture</p></strong>
        <p>Learn some key phrases (or more), try a national dish, try a new dance, learn to cook, experiment with clothing choices… There is a lot encompassed by the word 'culture' and many new things that you will try when studying overseas!</p>
        <strong><p>Make lifelong friends</p></strong>
        <p>Studying overseas is an amazing experience and you are likely to form strong bonds with those you share the experience with. Friends make every experience better!</p>
        <strong><p>Discover confidence and a sense of independence</p></strong>
        <p>Challenge what you thought you knew about yourself, try many new things for the first time, and really get an understanding of that phrase 'personal development'.</p>
        <strong><p>Get credit towards your degree</p></strong>
        <p>You'll do all of the above, get credit towards your degree and study at a world-class university. Seems like a pretty good deal…</p>
    </div>




</p>
</div>
</div>

</body>
