<!DOCTYPE html>
<br>

<style>
    .course_related{
        margin-left: 8%;
        max-width: 275px;
    }


    .card-title{
        margin-left: 8%;
        font-size: larger;
    }

    .img-thumbnail{
        margin-left: 8%;
        display: block;
        width: 290px;
        height: 180px;
    }

    .row-fluid{
        margin-right: 8%;
    }

    .left_part{
        float: left;
        width: 400px;
        margin-left: 8%;
        /*background-color: #005cbf;*/
    }

    .right_part{
        /*background-color: #1e7e34;*/
        margin-left: 410px;
    }

    .span12{
        margin-left: 5%;
    }

    .normal{
        margin-left: 0.8%;
        font-size: large;
    }

    .link{
        max-width: 290px;
    }

    .coding_img{
        width: 75%;
        height: 250px;
    }

    .right_content{
        margin-right: 8%;
    }
</style>

<div class="left_part">

<title>Study Resources</title>



<div class="course_related">
    <h3> <strong>Tips and Resources</strong></h3>
</div>

<br></br>
<div>
<a href="/Study_Tips" class="card-title">Study Tips</a>
</div>


<br></br>
<div>
    <a href="/Study_Resources" class="card-title">Study Resources</a>
</div>
    <br></br>
<div>
    <a href="/Tips_for_Internships_and_Jobs" class="card-title">Tips for Internships and Jobs</a>
</div>
<br></br>



<div class="course_related">
    <h4><strong>Reference</strong></h4>
    <br></br>
    <p> The University of Sydney, “Learning Centre.” Online at <a class="link" href="https://www.sydney.edu.au/students/learning-centre.html">https://www.sydney.edu.au/students/learning-centre.html, accessed 27 March 2020.  </a>, accessed 27 March 2020.</p>
</div>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

</div>

<div class="right_part">
    	<div class="row-fluid">
		<div class="span12">
			<strong><h1>
				<em> Study Resources</em>
			</h1></strong><hr />

		</div>
        <div>
            <p><a href="/home" class="normal">Home </a>><a href="/Study_Tips" class="normal">Tips and Resources </a>> Study Resources </p>
        </div>
	</div>
    <div>
        <img src="img/coding.jpg" alt="..." class="coding_img" alt="Responsive image">
    </div>
</div>
    <br></br>
    <div class="right_content">
        <h4><strong>Study Resources</strong></h4>
        <strong><p> Resources </p></strong>
        <p>The University of Sydney offers educational assistance to students at any level of their University degree. Through the help use of their "Learning Centre" students will be able to improve and enhance various skills such as communication, research and studying skills. These resources include:
</p>
        <strong><p>Writting</p></strong>
        <p>These resources help develop your writing skills  through improvining your academic writing, formal lanaguage, objective language and technical language. Find out more here: <a href="https://www.sydney.edu.au/students/writing.html">https://www.sydney.edu.au/students/writing.html.</a></p>
       <strong><p>Critical Thinking</p></strong>
        <p>The University of Sydney enables you to undertake a "Staying on Track" program which allows you to help realise the implications of certain study habits that would eventually lead you to occassionally failing assessments. By doing so this helps you by working out a plan of action which you could take to deal with these issues.

Interested? Follow this link to find out more about the 3 Stages of the "Staying on track" program and how to register: <a href="//www.sydney.edu.au/students/staying-on-track.html">www.sydney.edu.au/students/staying-on-track.html</a>
</p>
        <p>Allow yourself enough time to study and always start projects and assignments as soon as possible. By doing so, you will be able to spend large amounts of time understanding the logic of your assignments and less time debugging your code.</p>


        <strong><p>Research Skills</p></strong>
<p>By understanding effective and effecient techniques in researching, you will be able to build a strong thesis and develop skills which would help the process of planning and undertaking your research. Find out more here: <a href="https://www.sydney.edu.au/students/hdr-research-skills.html">https://www.sydney.edu.au/students/hdr-research-skills.html</a></p>
        <strong><p>Group Work</p></strong>
    <p>Group work will be commonly assessed throughout your degree and there will be many times in other units of study where you will need to work with other students. To learn how to work efficiently in a group find out more here: <a href="https://www.sydney.edu.au/students/group-work.html">https://www.sydney.edu.au/students/group-work.html</a></p>
        <strong><p>Time Management</p></strong>
    <p>By using time management tools and creating plans such as semester plans, weekly plans and daily plans, you will be able to balance your commitments and ensure productive study throughout a semester. Find out more about how to stay on track by managing your time here: <a href="https://www.sydney.edu.au/students/time-management.html">https://www.sydney.edu.au/students/time-management.html</a></p>
        <strong><p>Find out more</p></strong>
    <p>To find out more about what Study resources the University of Sydney offers: <a href="www.sydney.edu.au/students/learning-centre.html">www.sydney.edu.au/students/learning-centre.html</a></p>
    </div>



</p>
</div>
</div>

</body>
