<!DOCTYPE html>
<br>



<style>
    .course_related{
        margin-left: 8%;
        max-width: 275px;
    }


    .card-title{
        margin-left: 8%;
        font-size: larger;
    }

    .img-thumbnail{
        margin-left: 8%;
        display: block;
        width: 290px;
        height: 180px;
    }

    .row-fluid{
        margin-right: 8%;
    }

    .left_part{
        float: left;
        width: 400px;
        margin-left: 8%;
        /*background-color: #005cbf;*/
    }

    .right_part{
        /*background-color: #1e7e34;*/
        margin-left: 410px;

    }

    .span12{
        margin-left: 5%;
    }

    .normal{
        margin-left: 0.8%;
        font-size: large;
    }

    .link{
        max-width: 290px;
    }

    .coding_img{
        width: 75%;
        height: 250px;
    }

    .right_content{
        margin-right: 8%;
    }
</style>

<div class="left_part">

<title>Study Tips</title>



<div class="course_related">
    <h3> <strong>Tips and Resources</strong></h3>
</div>

<br></br>
<div>
<a href="/Study_Tips" class="card-title">Study Tips</a>
</div>


<br></br>
<div>
    <a href="/Study_Resources" class="card-title">Study Resources</a>
</div>
    <br></br>
<div>
    <a href="/Tips_for_Internships_and_Jobs" class="card-title">Tips for Internships and Jobs</a>
</div>
<br></br>

<img src="/img/tips.jpeg" alt="..." class="img-thumbnail" alt="Responsive image">

<br></br>

<img src="/img/study_tips.jpeg" alt="..." class="img-thumbnail" alt="Responsive image">
<br></br>
<br></br>

<div class="course_related">
    <h4><strong>Reference</strong></h4>
    <p> The University of Sydney, “Student support and devleopment" Online at <a class="link" href="https://www.sydney.edu.au/business/study/student-support-and-development.html ">https://www.sydney.edu.au/business/study/ student-support-and-development. html</a>, accessed 27 March 2020.</p>
</div>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

</div>

<div class="right_part">
    	<div class="row-fluid">
		<div class="span12">
			<strong><h1>
				<em> Study Tips</em>
			</h1></strong><hr />

		</div>
        <div>
            <p><a href="/home" class="normal">Home </a>><a href="/Study_Tips" class="normal">Tips and Resources </a>> Study Tips </p>
        </div>
	</div>
    <div>
        <img src="img/coding.jpg" alt="..." class="coding_img" alt="Responsive image">
    </div>
</div>
    <br></br>
    <div class="right_content">
        <h4><strong>Strugging to study?</strong></h4>
        <strong><p> Read on for some tips to get you going! </p></strong>
        <strong><p> Student Academic Support and Study Tips </p></strong>
        <p>The University of Sydney presents an of opportunities to enhance your knowledge, allowing you to go beyond just lecture theatres and libraries. The University enables you to make your time as a student at the University of Sydney as beneficial as possible through multiple services and study techniques which one can undertake during any situation.

Workshop and study groups.
</p>
        <strong><p>Workshop and study groups</p></strong>
        <p>The University of Sydney offers ample amounts of support through a variety of workshops and study groups.

You would work together in groups of 10 to 16 to answer specific questions and problems surrounding a particular unit of study you're enrolled in.  By participating in various workshops and study groups you will be able to strengthen your academic skills while giving you the opportunity to connect with a student support group scheme which you would be able to become familiar and comfortable with.
.</p>
       <strong><p>Staing on track</p></strong>
        <p>The University of Sydney enables you to undertake a "Staying on Track" program which allows you to help realise the implications of certain study habits that would eventually lead you to occassionally failing assessments. By doing so this helps you by working out a plan of action which you could take to deal with these issues.

Interested? Follow this link to find out more about the 3 Stages of the "Staying on track" program and how to register : <a href="//www.sydney.edu.au/students/staying-on-track.html">www.sydney.edu.au/students/staying-on-track.html</a>
</p>
        <strong><p>Study Tips</p></strong>
        <p>Allow yourself enough time to study and always start projects and assignments as soon as possible. By doing so, you will be able to spend large amounts of time understanding the logic of your assignments and less time debugging your code.</p>

        <p>Start off with flow charts and diagrams. Spend a bit of time drawing flow charts and diagrams for confusing problems. Visual aids not only help you when revising but they also allow you to see the control and logic flow of your programs and will definitely help the logic of your programs.</p>

<p>Develop your own support system and study with a group with the same interests as yourself. Not only does working with others sharpen your skills through the sharing of interesting and different ideas, you will be able to improve notes, get help with difficult problems and concepts, review other's code for errors and most importantly, make learning fun!</p>

<p>Find out about more study tips and exam preparations that you could take to help your University of Sydney degree here: <a href="https://www.sydney.edu.au/students/preparing-for-exams.html">www.sydney.edu.au/students/preparing-for-exams.html</a></p>
    </div>



</p>
</div>
</div>

</body>
